.DS_Store
.idea/
.vscode/
install/
assets/admin/push_config.json

core/.env
core/.env.*
!core/.env.example
core/vendor/
core/node_modules/
core/.phpunit.result.cache

core/storage/debugbar/*
!core/storage/debugbar/.gitignore
core/storage/framework/cache/*
!core/storage/framework/cache/.gitignore
core/storage/framework/sessions/*
!core/storage/framework/sessions/.gitignore
core/storage/framework/testing/*
!core/storage/framework/testing/.gitignore
core/storage/framework/views/*
!core/storage/framework/views/.gitignore
core/storage/logs/*
!core/storage/logs/.gitignore

core/bootstrap/cache/*.php
!core/bootstrap/cache/.gitignore
